.circle-process {
    /*position: relative;*/
}

.circle-process > .wrapper {
    /*position: absolute;
    top: 0;
    overflow: hidden;*/
}

.circle-process > .wrapper.circle-right {
    /*right: 0;*/
}

.circle-process > .wrapper.circle-left {
    /*left: 0;*/
}

.circle-process .circle {
    /*border-radius: 50%;
    position: absolute;
    top: 0;
    transform: rotate(-135deg);
	-ms-transform: rotate(-135deg); 	/* IE 9 */
	/*-moz-transform: rotate(-135deg); 	/* Firefox */
	/*-webkit-transform: rotate(-135deg); /* Safari & Chrome */
	/*-o-transform: rotate(-135deg); 	/* Opera */
}

.circle-process > .wrapper.circle-right > .circle {
    /*right: 0;*/
}

.circle-process > .wrapper.circle-left > .circle {
    /*left: 0;*/
}

.circle-process .content {
    /*text-align: center;
	position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
	-ms-transform: translateY(-50%); 	/* IE 9 */
	/*-moz-transform: translateY(-50%); 	/* Firefox */
	/*-webkit-transform: translateY(-50%); /* Safari & Chrome */
	/*-o-transform: translateY(-50%); 	/* Opera */
}

.circle-process .content .prepend,
.circle-process .content .append {
	/*display: block;*/
}
